body {
    background-image: url("WordItOut-word-cloud-4005145.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: roboto, sans-serif;
    font-size: 20px;
    margin: 20px;
}

#root {
	background: #FFF2A8;
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: 4px 4px 4px #666;
	margin: 0 auto;
	padding: 20px;
	width: 800px;
}

h1 {
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
}

h2 {
    font-size: 25px;
    text-align: center;
}

p {
	line-height: 16px;
	text-align: center;
}

.buttonContainer {
	margin: 0 auto;
	width: 260px;
}

button {
    background-color: #fff;
    border: 1px solid grey;
    font-size: 24px;
    margin: 0 auto;
    transition-duration: .6s;
}
button:hover {
	background-color: #ccc;
}

span {
	color: darkred;
}